# Arquivos de sistema
.DS_Store
Thumbs.db

# Ambiente Virtual
.venv/
venv/
env/

# Bytecode do Python
__pycache__/
*.pyc
*.pyo

# Arquivos de configuração sensíveis
.env

# Configurações do editor
.vscode/

# Logs
*.log
