.filtro {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 20px;
  }

  .filtro-digito {
    border-radius: 20px;
    border: 1px solid #e2e4e4;
    color: #000000;
    width: 80%;
    height: 30px;
    padding-left: 10px;
  }

::placeholder {
  color: #c4c6cc
}

  .filtro-bf {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
  }
  
  input[type="date"] {
    color: blue
  }

  .btn-buscar, .btn-filtrar, .btn-tipo, .btn-mocao {
    padding: 10px 20px;
    border: none;
    border-radius: 100px;
    cursor: pointer;
  }
  
  .btn-buscar {
    background-color: #ffa100;
    color: #000000;
  }
  
  .btn-filtrar {
    background-color: #ffffff;
    color: #405e9d;
    border: 1px solid #ccc;
  }
  
  .btn-tipo {
    background-color: white;
    border: 1px solid #ccc;
    width: 146px;
    height: 40px;
    text-align: center;

  }

  .btn-tipo:hover, .ativo {
    background-color: #2a4b91;
  }
  
  .filtro-data {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #21438c
  }
  
.break {
    flex-basis: 100%;
    height: 0;
}