
.filtro {
  display: flex;
  flex-wrap: wrap;
  gap: 0.825rem;
  justify-content: center;
  align-content: center;
}

.filtro-data > input {
  padding: 4px 8px;
}

.filtro-digito {
  border-radius: 1.25rem;
  padding: 4px 8px;
  border: 1px solid #e2e4e4;
  color: #000000;
  width: 55%;
  height: 1.875rem;
  padding-left: 0.625rem;
}

.filtro-bf {
  display: flex;
  flex-wrap: wrap;
  gap: 1.875rem;
}

.filtro-data {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: #21438c;
  justify-content: center;
}

.filtro-tipo {
  display: flex;
  gap: 0.5rem;
}


.btn-buscar, .btn-filtrar, .btn-tipo {
  padding: 0.625rem 1.25rem;
  border: none;
  border-radius: 6.25rem;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  box-shadow: 0.2rem 0.2rem 0.2rem gray;
}

.btn-buscar {
  background-color: #ffa100;
  font-size: 0.85rem;
  color: #000000;
  box-shadow: 0px 0px 0px transparent;
}

.filtro-flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  width: 80%;
}

.btn-tipo {
  background-color: white;
  color: #2a4b91;
  border: 1px solid #ccc;
  width: 9.125rem;
  height: 2.5rem;
  text-align: center;
  min-width: max-content;

}

.lei {
  font-size: 0.9rem;
}

.btn-tipo:hover, .ativo {
  background-color: #2a4b91;
  color: white;
}



#data-inicio, #data-fim {
  border: 1px solid #e2e4e4;
  border-radius: 6.25rem;
  height: 2rem;
  width: 9rem;
}

.break {
  flex-basis: 100%;
  height: 0;
}


@media screen and (max-width: 768px) {
    .filtro-flex {
      flex-direction: row;
    }
}