* {
    font-family: 'Ubuntu', sans-serif;
    display: grid;
    grid-template-columns: 5fr 5fr;
    gap: 20px;
    justify-items: center;
    margin: 10px;
}

.chart-container {
    width: 190px;
    height: 270px;
    position: relative;
}

h3 {
    text-align: center;
    font-size: 10px;
    font-weight: bold;
}

canvas {
    background-color: #f0f0f0;
}