.page {
  padding: 0 6.25vw;
}

.chart-container {
    padding: 20px;
    width: 450px;
    height: 400px;
}


.flex-container-graph {
  margin-top: 48px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px;
  max-width: 100%;
  gap: 20px;
}
.flex-item {
  font-size: 30px;
  align-items: center;
}

h3 {
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    margin: 10px;
}


@media screen and (max-width:800px){
  .chart-container {
    width: 350px;
    height: 300px;
    position: relative;
}
}