* {
  padding: 0;
  margin: 0;
}

.propositions {
  row-gap: 3rem;
}

.backAnc {
  text-decoration: none;
  color: #000;
}

.PropTitle {
  font-size: 3rem;
}

.ProposicaoItem {
  row-gap: 2.5rem;
}

.Author {
  font-size: 1.3rem;
}

.ProposicaoInfos {
  justify-content: space-between;
}

.PropDetails {
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.ProposicaoDesc {
  text-align: justify;
}
