@media screen and (min-width: 320px) and (max-width: 800px) {
    .filtro-digito{
        width: 80%;
    }
    
    .filtro-digito::placeholder{
        font-size: 0.65rem;
        text-align: center;
    }
    
    .btn-tipo{
        width: 7rem;
        font-size: 0.7rem;
    }
    
    .btn-buscar, .btn-filtrar{
        font-size: 0.75rem;
        text-align: center;

    }

    .filtro-data{
        flex-direction: column;
        row-gap: 0.7rem;
    }

    .filtro-tipo{
        flex-direction: column;
        
    }

}