h1{
    text-align: center;
    padding-top: 30px;
    color: #2A4B91;
}

h3{
    text-align: left;
}
#box {
    display: grid;
    gap: 10px;
    grid-template-columns: 3fr 7fr ;
    padding: 0 125px 0 125px;
    
}

#box > div {
    text-align: left;
    padding: 20px 0;
    font-size: 30px;
}

.item1 {
    grid-column-start: 1;
    grid-column-end: 3;
}

.menu {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.menu button {
    background-color: transparent;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.menu button:hover {
    border-bottom: solid rgba(0, 0, 0, 0.1) 2px; /* Se quiser um efeito ao passar o mouse */
}

button {
    background-color: transparent;
    border: none;
    color: black;
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;
    position: relative;  
}

button:focus::after,
button:hover::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: black;
    bottom: 0; 
    left: 0;
}

button:focus {
    outline: none; 
}

.content1 {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    
}

.content1.show {
    display: block;
    opacity: 1;
}

.content1.hide {
    opacity: 0;
    display: none;
}

.content1 h3 {
    color: #000000;
}

.card {
    width: auto;
    min-width: 180px;
    min-height: auto;
    background-color: white;
    border: 0.5px solid #D2D4D4;
    border-radius: 18px;
    display: grid;
    grid-template-rows: 75% 15% 10%;
    overflow: hidden;
    transition: transform 0.3s ease;
    box-shadow: 0 4px 6px rgba(255, 255, 255, 0.1), 0.1;
}

.card-img {
    width: 100%;
    height: auto;
    object-fit: cover;
    position: relative;
    overflow: hidden;
}

.card-content {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.card-footer {
    display: flex;
    align-items: top;
    justify-content: center;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 100px;
    padding-top: auto;
    padding-bottom: auto;
    gap: 40px;
}

#traço {
    max-width: 80%;
    border-top: solid #c3cece 2px;
    margin: 30px auto;
  }

 #box_frequencia {
    display: grid;
    grid-template-columns: 1fr ;
    padding: 20px;
    margin: 0 auto;
    border-radius: 8px;
    border: 1px solid rgb(212, 212, 212);
    outline-style: solid;
    outline-color: rgb(240, 240, 240);
    outline-width: thin;
    width: 85%;

}

.title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-transform: uppercase;
    text-decoration: underline;
}
.bar-container {
    display: flex;
    align-items: center;
    margin: 10px 0;
}
.label {
    width: 150px;
}
.bar {
    flex: 1;
    height: 10px;
    background-color: #e0e0e0;
    margin-right: 10px;
    position: relative;
}
.progress {
    height: 100%;
    background-color: orange;
    position: absolute;
}
.percentage {
    width: 50px;
    text-align: right;
}
.note {
    text-align: center;
    color: orange;
    margin-top: 20px;
}

#box_participaçao {
    width: 85%;
    margin: auto;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid rgb(212, 212, 212);
    outline-style: solid;
    outline-color: rgb(240, 240, 240);
    outline-width: thin;
}
h2 {
    text-align: center;
    text-decoration: underline;
}
.comissao-item {
    margin-bottom: 20px;
}
.comissao-item strong {
    display: block;
}
a {
    text-decoration: none;
    color: #007BFF;
}
a:hover {
    text-decoration: underline;
}

#box_votaçao {
    width: 85%;
    margin: auto;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid rgb(212, 212, 212);
    outline-style: solid;
    outline-color: rgb(240, 240, 240);
    outline-width: thin;
}

.comment-section {
    width: 85%;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid rgb(212, 212, 212);
    outline-style: solid;
    outline-color: rgb(240, 240, 240);
    outline-width: thin;
}

h2, h3 {
    margin-bottom: 15px;
}

.comment {
    padding: 15px;
    border-bottom: 1px solid #ccc;
}

.comment p:first-of-type {
    font-weight: bold;
    margin-bottom: 10px;
}

.comment p span {
    font-weight: normal;
    color: #888;
}

.comment-form {
    margin-top: 20px;
}

.rating {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.stars {
    color: #ffa500;
    margin-left: 10px;
}

textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

#button2 {
    background-color: #ffa500;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

#button2:hover {
    background-color: #e59400;
}