{% extends 'base.html' %}

{% block title %}Filtro{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="../static/filtro.css">
<link rel="stylesheet" href="{{ url_for('static', filename='filtro.css') }}">
{% endblock %}

{% block content %}

    <div class="filtro">
        <input class="filtro-digito" type="text" placeholder="Buscar por palavras-chave, tag, importância, setor">
        <div class="filtro-bf">
            <button class="btn-buscar">Buscar</button>
            <button class="btn-filtrar">Filtrar</button>
        </div>
        <div class="break"></div>
        <div class="filtro-data">
            <label for="data-inicio">No período:</label>
            <input type="date" id="data-inicio">
            <label for="data-fim">Até:</label>
            <input type="date" id="data-fim">
        </div>

        <div class="filtro-tipo">
            <button class="btn-tipo">Requerimento</button>
            <button class="btn-mocao">Moção</button>
            <button class="btn-tipo">Projeto de Lei</button>
        </div>
    </div>
    
{% endblock %}