{% extends 'base.html' %}

{% block title %}Página Inicial{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
{% endblock %}

{% block content %}
    <section class="intro">
        <h1>Seja bem-vindo!</h1>
        <p>Descubra como seus vereadores estão realmente atuando e impactando a cidade!<br> 
        <b>Nossa plataforma oferece uma visão detalhada e acessível das ações e realizações dos vereadores em exercício.</b> <br>Informações claras e baseadas em fatos estão aqui para ajudar você a tomar decisões informadas e engajadas nas próximas eleições.</p>
        <div class="button">
            <a href="/ranking" class="btn">Comece por aqui</a>
        </div>
    </section>
{% endblock %}

