{% extends 'base.html' %}

{% block extra_css%} 
<link rel="stylesheet" href="{{ url_for('static', filename='pagProp.css') }}">
<link rel="stylesheet" href="../static/pagProp.css">
{% endblock %}

{% block title %}Proposições{% endblock %}

{% block content %}
    <main class="propositions">
        <a href="/proposicoes" class="backAnc">voltar</a>
        <h1 class="PropTitle">PROPOSIÇÃO {{ proposicao['id_prop']}}/{{ proposicao['ano'] }}</h1>
        <section class="ProposicaoItem">
            <a href="/vereador/{{ proposicao['autorId'] }}"><h3 class="Author">Autor: {{ nome_vereador }}</h3></a>
            <section class="ProposicaoInfos">
                <section class="PropDetails"><h3>Situação Atual: </h3> <p>{{proposicao['situacao']}}</p></section>
                <section class="PropDetails"><h3>Data: </h3> <p>{{proposicao['data']}}</p></section>
            </section>
            <section class="ProposicaoDesc">
                <p>{{ proposicao['assunto'] }}</p>
            </section>
        </section>
    </main>
{% endblock %}