{% extends 'base.html' %} 
{% block extra_css%}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='listProp.css') }}"
/>
<link rel="stylesheet" href="../static/listProp.css" />
{% endblock %} 
{% block title %}Lista de Proposições{% endblock %} {% block
content %}
<main class="list-prop">
  <h1 class="list-title">PROPOSIÇÕES APRESENTADAS</h1>
  <p class="pag-descricao">
    Tenha uma visão geral do desempenho dos vereadores, faltas no período e
    proposições apresentadas
  </p>
  <section class="navBar">{% block filtro %} {% endblock %}</section>
    {% for prop in proposicoes %}
    <section class="prop-infos">
      <section class="proposicao">
        <section class="detalhes-prop title">
          <h4>TÍTULO DA PROPOSIÇÃO</h4>
          <p>n° {{prop[0]}}/{{prop[5]}}</p>
        </section>
        <section class="detalhes-prop situation-aprovada">
          <h4>SITUAÇÃO ATUAL:</h4>
          <p>{{prop[6]}}</p>
        </section>
        <section class="detalhes-prop title">
          <h4>TIPO:</h4>
          <p>{{prop[7]}}</p>
        </section>
        <section class="detalhes-prop date">
          <h4>DATA:</h4>
          <p>{{prop[5]}}</p>
        </section>
      </section>
      <section class="descricao">
        <a href="/pagina-proposicao" class="link-pagProp">
          <p class="descricao-prop">
            {{prop[1]}}
          </p>
        </a>
      </section>
    </section>
    {% endfor %}
  
  <!-- Pagination Links -->
<div class="mt-4 flex justify-center mb-10">
  <nav aria-label="Pagination">
    <ul class="inline-flex items-center space-x-2">

      <!-- Previous Button -->
      {% if page > 1 %}
        <!-- Active "Previous" Button -->
        <a href="?page={{ page - 1 }}" class="px-4 py-2 border border-gray-300 rounded-l-md text-gray-700 bg-white hover:bg-gray-200">
          « Previous
        </a>
        <li>
          <a href="?page={{ 1 }}" class="px-4 py-2 border border-gray-300 rounded-l-md text-gray-700 bg-white hover:bg-gray-200">
            1
          </a>
        </li>
        <li>
          <span class="px-4 py-2 border border-gray-300 rounded-l-md text-gray-700 bg-white">...</span>
        </li>
      {% else %}
        <!-- Inactive "Previous" Button -->
        <span class="px-4 py-2 border border-gray-300 rounded-l-md text-gray-400 bg-gray-100 cursor-not-allowed">
          « Previous
        </span>
        
      {% endif %}

      <!-- Page Numbers -->
      {% for p in range(1, total_pages + 1) %}
        {% if p == page and p != total_pages %}
          <li>
            <span class="px-4 py-2 border border-gray-300 bg-gray-500 text-white">{{ p }}</span>
          </li>
          <li>
            <a href="?page={{ page + 1 }}" class="px-4 py-2 border border-gray-300 rounded-l-md text-gray-700 bg-white hover:bg-gray-200">
              {{ page + 1 }}
            </a>
          </li>

        {% else %}
          {% if p == total_pages %}
            <li>
              <a href="?page={{ p }}" class="px-4 py-2 border border-gray-300 rounded-r-md text-gray-700 bg-white hover:bg-gray-200">
                última página
              </a>
            </li>
          {% endif %}
        {% endif %}
      {% endfor %}

      <!-- Next Button -->
      {% if page < total_pages %}
        <li>
          <a href="?page={{ page + 1 }}" class="px-4 py-2 border border-gray-300 rounded-r-md text-gray-700 bg-white hover:bg-gray-200">
            Next »
          </a>
        </li>
      {% endif %}

    </ul>
  </nav>
</div>
</main>
{% endblock %}
