{% extends 'base.html' %} {% block extra_css%}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='listProp.css') }}"
/>
<link rel="stylesheet" href="../static/listProp.css" />
{% endblock %} {% block title %}Lista de Proposições{% endblock %} {% block
content %}
<main class="list-prop">
  <h1 class="list-title">PROPOSIÇÕES APRESENTADAS</h1>
  <p class="pag-descricao">
    Tenha uma visão geral do desempenho dos vereadores, faltas no período e
    proposições apresentadas
  </p>
  <section class="navBar">{% block filtro %} {% endblock %}</section>
    {% for prop in proposicoes[:15] %}
    <section class="prop-infos">
      <section class="proposicao">
        <section class="detalhes-prop title">
          <h4>TÍTULO DA PROPOSIÇÃO</h4>
          <p>n° {{prop[0]}}/{{prop[5]}}</p>
        </section>
        <section class="detalhes-prop situation-aprovada">
          <h4>SITUAÇÃO ATUAL:</h4>
          <p>{{prop[6]}}</p>
        </section>
        <section class="detalhes-prop title">
          <h4>TIPO:</h4>
          <p>{{prop[7]}}</p>
        </section>
        <section class="detalhes-prop date">
          <h4>DATA:</h4>
          <p>{{prop[5]}}</p>
        </section>
      </section>
      <section class="descricao">
        <a href="/pagina-proposicao" class="link-pagProp">
          <p class="descricao-prop">
            {{prop[1]}}
          </p>
        </a>
      </section>
    </section>
    {% endfor %}
  
  <nav class="btn-pags">
    <p class="arrow">&LeftTriangle;</p>
    <button class="btn in-use">1</button>
    <button class="btn notIn-use">2</button>
    <button class="btn notIn-use">3</button>
    <p class="arrow">&RightTriangle;</p>
  </nav>
</main>
{% endblock %}
