{% extends 'base.html' %}

{% block title %}Pagina Vereador{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="../static/lista-vereadores.css">
<link rel="stylesheet" href="{{ url_for('static', filename='vereador.css') }}">

{% endblock %}

{% block content %}
<div class="bg">
    <div class="btncontainer">
        <div class="btn" id="btnContainer">
            <a href="/atualiza_vereadores" id="updateButton" onclick="updateData(event)">Atualizar Informações</a>
        </div>
    </div>
    <div style="padding-top: 80px;">
        <div class="container" id="box">
            <h1 class="item1">{{ vereador[1] }}</h1>
            <div class="flex-container-vereador">
                <div class="card">
                    <div class="card-img">
                        <img src="{{ vereador[9]}}" alt=""></a>
                    </div>
                    <div class="stars_card">
                        <label for="star5" title="5 estrelas">★</label>
                        <label for="star4" title="4 estrelas">★</label>
                        <label for="star3" title="3 estrelas">☆</label>
                        <label for="star2" title="2 estrelas">☆</label>
                        <label for="star1" title="1 estrela">☆</label>
                        <a id="notas_estrela">2.0</a>
                    </div>
                    <ul class="card-text-container">
                        <li>Telefone: {{ " " }}{{ vereador[3] }}</li>
                        <li>Telefone 2: {{ " " }}{{ vereador[4] }}</li>
                        <li>Celular: {{ " " }}{{ vereador[5] }}</li>
                        <li>Email: <span id="email">{{ " " }}{{ vereador[6] }}</span></li>
                    </ul>
                    <span class="card-footer">{{ vereador[2] }}</span>
                </div>
            </div>
            <div class="container">
                <div class="menu">
                    <button onclick="showContent('resumo')">Biografia</button>
                    <button onclick="showContent('proposicoes')">Proposições (92)</button>
                </div>
                <div id="resumo" class="content1">
                    <section>
                        <p>{{vereador [10]}}</p>
                        <br>
                        <h3>Patrimônio:</h3>
                        <br>
                        <p>O valor de seu patrimonio publico é R${{ " " }}{{ '%.2f'|format(vereador[11])|replace('.', ',') }}</p>
                    </section>
                </div>
                <div id="proposicoes" class="content1" style="display: none;">
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Architecto reprehenderit ipsam
                        ipsa,
                        tenetur ex illum commodi, temporibus, laboriosam sint modi maiores. Praesentium quidem
                        veniam
                        velit alias sint vel ducimus maxime?Lorem ipsum dolor, sit amet consectetur adipisicing
                        elit.
                        Consectetur dolorem ipsum molestiae laboriosam eius quibusdam officia modi sit, voluptate
                        omnis
                        hic perspiciatis impedit accusantium qui quos quas delectus cum! Fugiat!maxime? Lorem ipsum
                        dolor sit, amet consectetur adipisicing elit. Sit deleniti tempore quae repellat quaerat
                        placeat
                        rerum nobis incidunt cumque facilis perferendis veniam accusamus blanditiis, accusantium
                        autem
                        neque dolor ex fuga?</p>
                </div>
            </div>
        </div>
    </div>

    <div class="grid-container" id="traço"></div>

    <div class="container" id="box_frequencia">
        <div class="cabeçalho">
            <div class="title">Frequência em Plenário (2021-2024)</div>
        </div>
        {% for registro in assiduidades %}
        <div class="bar-container">
            <div class="label">Presenças:</div>
            <div class="bar">
                <div class="progress"
                    style="width: {{ (registro.presencas_totais / (registro.presencas_totais + registro.faltas_totais + registro.justificadas_totais)) * 100 }}%">
                </div>
            </div>
            <div class="percentage">{{ registro.presencas_totais }}</div>
        </div>
        <div class="bar-container">
            <div class="label">Ausências:</div>
            <div class="bar">
                <div class="progress"
                    style="width: {{ (registro.faltas_totais / (registro.presencas_totais + registro.faltas_totais + registro.justificadas_totais)) * 100 }}%">
                </div>
            </div>
            <div class="percentage">{{ registro.faltas_totais }}</div>
        </div>
        <div class="bar-container">
            <div class="label">Ausências Justificadas:</div>
            <div class="bar">
                <div class="progress"
                    style="width: {{ (registro.justificadas_totais / (registro.presencas_totais + registro.faltas_totais + registro.justificadas_totais)) * 100 }}%">
                </div>
            </div>
            <div class="percentage">{{ registro.justificadas_totais }}</div>
        </div>
        {% endfor %}

        <div class="note">⭐ Este vereador está entre os {{porcentagem_presenca}}% que menos faltam</div>

    </div>
    <br></br>

    <div class="container" id="box_participaçao">
        <h2>PARTICIPAÇÃO EM COMISSÕES</h2>
        
        <div class="container" id="box_participaçao">
            <h2>PARTICIPAÇÃO EM COMISSÕES</h2>
            {% for infos in comissaoLista %}
            <div class="comissao-item">
                <strong>CARGO: {{infos['cargo']}}</strong>
                <a href="#">{{infos['nomeComissao']}}</a>
            </div>
            {% endfor %}
        </div>
    </div>
    <br><br>

    <div class="container" id="box_votaçao">
        <div id="container">
            <h2 id="QUESTÕES-CHAVE">VOTAÇÃO EM QUESTÕES-CHAVE</h2>
            <div class="graphic-placeholder">
                <p>Gráfico Placeholder</p>
            </div>
        </div>
        <br>
        <br>
        <br>
    </div>
    <br><br>

    <div class="comment-section">
        <h2>Comentários</h2>
        <div class="comment">
            <p><strong>José Carlos</strong> comentou em <span>20/08/2022</span></p>
            <p>Esses caras são uns sem vergonha! Usam o dinheiro público para fazer bagunça.</p>
        </div>

        <div class="comment-form">
            <h3>Dê sua opinião:</h3>
            <div class="rating">
                <span>Nota:</span>
                <div class="stars">
                    <input type="radio" id="star5" name="rating" value="5" />
                    <label for="star5" title="5 estrelas">★</label>

                    <input type="radio" id="star4" name="rating" value="4" />
                    <label for="star4" title="4 estrelas">★</label>

                    <input type="radio" id="star3" name="rating" value="3" />
                    <label for="star3" title="3 estrelas">★</label>

                    <input type="radio" id="star2" name="rating" value="2" />
                    <label for="star2" title="2 estrelas">★</label>

                    <input type="radio" id="star1" name="rating" value="1" />
                    <label for="star1" title="1 estrela">★</label>
                </div>
            </div>
            <textarea placeholder="Digite aqui seu comentário..."></textarea>
            <button type="submit" id="botao_estrela">Publicar</button>
        </div>
    </div>

    <script src="script.js"></script>
</div>

<br><br>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
</div>
</div>

{% endblock %}