{% extends 'base.html' %}

{% block title %}Visão Geral{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='filtroproposicoes.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='respofiltroproposicoes.css') }}">
<link href="https://cdn.jsdelivr.net/npm/tailwindcss@3.3.2/dist/tailwind.min.css" rel="stylesheet">
<link rel="stylesheet" href="{{ url_for('static', filename='geral.css') }}">
<link rel="stylesheet" href="../static/geral.css">
{% endblock %}

{% block content %}

<div class="bg-onda">
    <div class="page" style="padding-top: 80px;">
        <section class="navBar">
            {% include 'filtroproposicoes.html' %}
        </section>
        <section class="flex-container-graph">

            <div class="flex-item">
                <div class="chart-container">
                    <h3>POPULARIDADE</h3>
                    <canvas id="grafico1"></canvas>
                </div>
            </div>


            <div class="flex-item">
                <div class="chart-container">
                    <h3>QUANTIDADE DE PROPOSIÇÕES</h3>
                    <canvas id="grafico2"></canvas>
                </div>
            </div>


            <div class="flex-item">
                <div class="chart-container">
                    <h3>PROPOSIÇÕES</h3>
                    <canvas id="grafico3"></canvas>
                </div>
            </div>

            <div class="flex-item">
                <div class="chart-container">
                    <h3>PARTICIPAÇÃO</h3>
                    <canvas id="grafico4"></canvas>
                </div>
            </div>
        </section>
    </div>
</div>
<br><br>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{{ url_for('static', filename='js/filtro.js') }}"></script>
<script src="{{ url_for('static', filename='js/js.js') }}"></script>
{% endblock %}